.corpo-pets{
    position: absolute;
    max-width: 80%;
    min-width: 20vw;
    min-height: 100%;
    background-color: white;
    box-shadow: inset 5px -6.94236px 6.94236px rgba(0, 0, 0, 0.25);
    
    margin: 0 10%;

    display: flex;
    flex-flow: column nowrap;
}

.imagem-pet-cabecalho{
    display: flex;
    justify-content: center;
    margin: 30px;
    
}
.imagem-pet-cabecalho img{
    width: 20vw;
}

.cabecalho-pet{
    background-color: rgba(8, 99, 205, 0.79);
    width: 80vw;
    display: flex;
    flex-flow: column nowrap;
}

.button-line{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.button-line Button{
    height: 7vh;
    margin: 10px;
    border-radius: 30px;
}

.cabecalho-nome{
    color: white;
    margin: 10px 20px;
    letter-spacing: 0.03em;
    font-size: 1.2em;
}

.conteudo-pet{
    margin:  5px 10%;
    text-align: justify;
}

.botao-voltar{
    margin: 0 auto 200px auto;
}
.botao-voltar button{
    padding: 5px 200px;
    border-radius: 20px;
}